 <form action="/profiles/add" method="POST">
        <div>
            <label for="name">Name:</label><br>
            <input id="name" type="text" name="name" required>
        </div>
        <div>
            <label for="age">Age:</label><br>
            <input id="age" type="text" name="age">
        </div>
        <div>
            <label for="description">Description</label><br>
            <textarea id="description" name="description"  cols="30" rows="10"></textarea>
        </div>
        <button>Add</button>
</form>