<h2>Filter</h2>

<form>
    <section class="filter">
        <h3>Geslacht</h3>
            <label class="container">
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span> Man
            </label>
            <label class="container">
                <input type="radio" name="radio">
                <span class="checkmark"></span> Vrouw
            </label>
            <label class="container">
                <input type="radio" name="radio">
                <span class="checkmark"></span> Allebei
            </label>
    </section>

    <section class="filter">
        <h3>Leeftijd</h3>
            <label class="container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>20-30
            </label>
            <label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>30-40
            </label>
            <label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>40-50
            </label>
            <label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>50+
            </label>
    </section>
</form>
<button>Opslaan</button>