<a href="filter.html"><img src="/public/images/filter.svg">Filter</a>
    <section class="match">
            <img src="/public/images/dirk.jpg">
            <h2>Dirk</h2> 
            <h3>Kat van Piet</h3>
            <h4>24 jaar</h4>
            <p>Hallo ik hou van Voetbal</p>
    <article>
        <img src="/public/images/close.svg">
        <img src="/public/images/heart.svg">
    </article>
    </section>