* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#fffafa;
    font-family: 'Open Sans','Averta', helvetica, arial, sans-serif;
}

main {
    padding: 1em;
}

header {
    background-color: #0E4C76;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

/* menu */
nav{
    margin-top: 2em;
}

nav ul {
    list-style-type: none;
    background-color: #0E4C76;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.5em 1em;
    max-height: 5em;
    z-index: 2;
}

li{
    padding: 0 2em;
}

li a{
    color: #E7E8EC;
}

/* filter knop */
a img{
    max-height: 2em;
}

section{
    display: flex;
    flex-direction: column;
    background-color: #B8C5CE;
    margin: 1em 0 2em 0; 
    padding: 1em;
}

article{
    padding: 1em;
    background-color: #B8C5CE;
}

button{
    background-color:#0E4C76;
    color: #B8C5CE;
    padding: 0.5em 2em;
    border-radius: 10px;
    font-size: 1em;
}

/* form */
/* form {
    display:block;
} */

fieldset {
    border: 0;
    background-color: #B8C5CE;
    padding: 1em;
}

label {
    padding-top: 0.5em
}

h2 {
    padding-bottom: 0.2em
}

/* kat op form */
form img{
    max-width: 3em;
    padding-left: 2em;
    margin-bottom: -1.65em;
}


/* https://www.w3schools.com/cssref/tryit.asp?filename=trycss_dim_height */
/* kat info */
article:nth-of-type(odd){
    display: grid;
    grid-template-columns: 67% 33%;
    border-radius: 10px;
    background-color: white;
    height: auto;
    margin-top: 50vw;
    width: 60vw;
    align-self: center;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 22px 42px -12px rgba(0,0,0,0.75);
}

article img{
    max-height: 2em;
    padding-left: 1em;
    max-width: 2em;
}

/* kat baasje info */
article:nth-of-type(even){
    background-color: #fdfdfd;
}

article:nth-of-type(even) h3{
    padding-top: 3.5em;
    font-size: 24px;
}

/* Like en dislike button */
section div{
    display: flex;
    justify-content: space-evenly;
}

section div img{
    border-radius: 200px;
    padding: 0.5em;
    max-height: 3em;
    margin: 1em;
    width: 3em;
    background-color: #0E4C76;
} 





